*{
    padding-bottom: 9px;
    margin-bottom: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
  
} 
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background: url(https://www.hinhnenemail.com/files/winter/67/top.gif);
    border-image: stretch;

    color: rgb(11, 11, 12);
}
.form-title{
/*    width: 80%;*/
    text-align: center;
    border: 5px;
    padding: 10px 10px ;
    border-radius: 15px;
    background-color: slateblue;
    font-size: 26px;
    color:whitesmoke;
    border-top-style:solid 1px white;
    border-right-style:solid;
    border-bottom-style:solid 30px white;
    border-left-style:solid;
    border-radius: 9px;
    
} 
.container{
    width: 60%;
/*    max-width: 9000px;*/->
/*    background: rgba(139, 132, 132, 0.5);*/
    padding:28px ;
    margin: 0 15px;
    /* bao tròn viền ngoài */
    border-radius: 10px;
    background-color: #f2f2f2;
}
label,span{
    font-weight: 800;
    color: rgb(29, 31, 31);

}

input[type=text],select,textarea {
  width: 90%;
  padding: 20px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  order-radius: 4px;
  box-sizing: border-box;
}

.main-user-inf{
    text-align: center;
    margin: center;
}
.p{
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: auto;
    border-radius: 15px;
}

.p:hover{
    color: floralwhite;
    background-color: slateblue;
}